<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: #e9ecef;
      
    }
    .add-product-container {
      background: #fff;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 100%;
      max-width: 400px;
    }
    .add-product-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .add-product-container input, .add-product-container textarea {
      width: 95%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    
    }
    .add-product-container button {
      width: 100%;
      padding: 10px;
      background: #17a2b8;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .add-product-container button:hover {
      background: #117a8b;
    }
  </style>
</head>
<body>
  <div class="add-product-container">
    <h2>Add Product</h2>
    <form action="/addpct" method="post">
      <input type="text" placeholder="Product imge" name="pctimg" required>
      <input type="text" placeholder="Product Name" name="pctname" required>
      <textarea placeholder="Product Description" name="pctdis" required></textarea>
      <input type="number" placeholder="Price" name="pctprice" required>
      <button type="submit">Add Product</button>
    </form>
  </div>
</body>
</html>